* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Trebuchet MS, sans-serif;
    height: 100%;
}

.header {
    position: relative;
    background-size: contain;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    margin: 0 3em;
}

.nav__menu {
    background-image: url('img/Hamburger.svg');
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1em;
}

.header__text {
    margin: 9vmax 26vw 0 16vw;
}

.header__text__title {
    font-size: 5em;
    font-weight: 700;
    margin: 0;
}

.header__text__second {
    margin: 4em 0 8em 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5em 10em;
    text-transform: uppercase;
    text-align: center;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
}

.services__item__icon {
    width: 45px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10em 10em;
    margin: 10em 10em 10em;
}

.intro__hello {
    width: 18%;
    align-items: end;
    align-content: end;
    position: relative;
    overflow: hidden;
}

.intro__hello__img {
    width: 100%;
    align-self: end;
    position: absolute;
    top: 37%;
}

.intro__title {
    width: 30%;
}

.intro__title__text {
    font-weight: bold;
    text-align: end;
    font-size: 2.3em;
}

.intro__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
    width: 28%;
    margin-right: 3em;
}

.intro__text_ourinfo {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}



