* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Trebuchet MS, sans-serif;
    height: 100%;
    background-color: white;
}

.header {
    position: relative;
    background-size: contain;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    margin: 0 3em;
}

.nav__menu {
    background-image: url('img/Hamburger.svg');
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1em;
}

.header__text {
    margin: 9vmax 26vw 0 16vw;
}

.header__text__title {
    font-size: 5em;
    font-weight: 700;
    margin: 0;
}

.header__text__second {
    margin: 4em 0 8em 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5em 10em;
    text-transform: uppercase;
    text-align: center;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
}

.services__item__icon {
    width: 45px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10em 10em 10.3em 10em;
}

.intro__hello {
    width: 18%;
    align-items: end;
    align-content: end;
    position: relative;
    overflow: hidden;
}

.intro__hello__img {
    width: 100%;
    align-self: end;
    position: absolute;
    top: 37%;
}

.intro__title {
    width: 30%;
}

.intro__title__text {
    font-weight: bold;
    text-align: end;
    font-size: 2.3em;
}

.intro__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
    width: 28%;
    margin-right: 3em;
}

.intro__text_ourinfo {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}


.past-work__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9em 5em 7em 16em;
}

.past-work__header__title {
    font-weight: bold;
    font-size: 2.2em;
}

.past-work__header__nav {
    align-content: center;
}

.past-work__header__nav__list {
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
    text-transform: uppercase;
}

.past-work__header__nav__list__item {
    color: #777;
    font-weight: bold;
}

.past-work__header__nav__list__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.past-work__header__nav__list__item--active {
    color: #000000;
    text-decoration: underline;
}

.past-work__gallery {
    display: flex;
    flex-direction: row;

}

.past-work__gallery__col {
    display: flex;
    flex-direction: column;
}

.past-work__gallery__col img {
    width: 100%;
}

.our-process {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
    padding-bottom: 5em;
}

.our-process__content {
    display: flex;
    flex-direction: row;
    margin: 8.5em 11em;
    justify-content: space-between;
}

.our-process__content__image {
    width: 47%;
}

.our-process__content__image img {
    width: 100%;
}

.our-process__content__text {
    width: 39%;
}

.our-process__content__text__header {
    font-weight: bold;
    font-size: 2.2em;
    margin: .8em 0 2.5em 0;
}

.our-process__content__text__processes-list {
    display: flex;
    flex-direction: column;
    gap: 3.8em;
    margin: 2em 0 0 0;
}

.our-process__content__text__processes-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.our-process__content__text__processes-list__item__icon {
    border-radius: 100%;
    box-shadow: 0px 0px 10px 1px #A5A5A5;
    background-color: white;
    align-content: center;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 1em;
}

.our-process__content__text__processes-list__item__icon img {
    width: 100%;
}

.our-process__content__text__processes-list__item__text {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.our-process__content__text__processes-list__item__text p {
    width: 90%;
}

.our-process__footer {
    margin: 0 auto;
    margin-top: 9em;
}

.our-process__footer p {
    text-align: center;
    font-size: 1.2em;
}

.testimonials {
    padding: 7em 5.5em 7em 5.3em;
}

.testimonials__title {
    font-weight: bold;
    font-size: 36px;
    margin-left: 4.6em;
    margin-top: .1em;
    margin-bottom: 3.1em;
}

.testimonials__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 7em;
}

.testimonials__content__item {
    display: flex;
    flex-direction: row;
    gap: 2.2em;
}

.testimonials__content__item__quotes > img {
    width: 32px;
}

.testimonials__content__item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.8em;
}

.testimonials__content__item__content__text {
    font-size: 18px;
    position: relative;
    line-height: 1.5;
    width: 97%;
}

.testimonials__content__item__content__person {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

.testimonials__content__item__content__person > img {
    width: 65px;
}

.testimonials__content__item__content__person__info__name {
    font-weight: bold;
    margin-top: .3em;
    font-size: 20px;
}

.testimonials__content__item__content__person__info__position {
    color: #777;
    margin-top: .6em;
}

.past-clients {
    padding: 18em 12em;
}

.past-clients__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    gap: var(--gap);
    --gap: 2em;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 1px;
    --line-color: #9A9B9B;
}

.past-clients__list__item {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.past-clients__list__item::before,
.past-clients__list__item::after {
   content: '';
   position: absolute;
   background-color: var(--line-color);
   z-index: 1;
}

.past-clients__list__item::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}

.past-clients__list__item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
}

.past-clients__list__item > img {
    margin: 4em 2em;
    width: 70%;
}

.blog-post {
    padding: 0 10.7em 10.3em 10.75em;
}

.blog-post__content__header {
    display: flex;
    flex-direction: row;
    margin: 1.5em 2em 5.3em 5em;
    justify-content: space-between;
    align-items: center;
}

.blog-post__content__header > h1 {
    font-size: 36px;
    font-weight: bold;
    width: 60%;
}

.blog-post__content__header > h4 {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.blog-post__content__list-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-post__content__card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 1em 1em 1.5em 1em;
    width: 20em;
}

.blog-post__content__card > h3 {
    margin: 1.5em 0 1em 0;
}

.blog-post__content__card__footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1.5em 0 0 0;
    text-transform: uppercase;
}

.blog-post__content__card__footer > p {
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
}

.blog-post__content__card__footer > img {
    width: 15px;
}
